*{
    color: #333;
}
.det-head{
    height: 150px;
    background-color: #f2f2f2;
}
.det-head h2{
    text-align: center;
    line-height: 150px;
    color: #000033;
}
.det-con{
    background-color: rgb(242,246,248);
}
.det-tit{
    font-size: 20px;
    padding: 10px 0;
}
.det-list{
    height: 40px;
    line-height: 40px;
    /*border: 1px solid #0f0f0f;*/
}
strong{
    width: 25%;
    float: left;
    text-align: right;
    display: block;
}
span{
    display: block;
    float: left;
    width: 70%;
    padding-left: 20px;

}